/* Vetores */

.vetores{
  padding-right: 25px !important;
  margin-right: 25px !important;
  width: 32%;
  max-height: 530px;
  overflow-y: scroll;
}
.vetor{
  background: #f1f1f1;
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dimension{
  position: relative;
}
.dimension span{
  position: absolute;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
  height: 100%;
  width: 20px;
  background: #c7c7c7;
  justify-content: center;
  align-items: center;
  border: 1px solid #7e8993;
}

.vetor .exibit-input,
.vetor .dimension{
  width: 100%;
  margin-bottom: 10px;
  height: 28px;
}

.vetor .dimension .exibit-input{
  text-indent: 20px;
}
.vetor .exibit-input.half,
.vetor .dimension{
  width: 48%;
}

/* Aparência inicial */
.vetor .dimension {
  display: none;
}
.vetor .dimension.desktop {
  display: block;
}

.vetor-previa{
  z-index: 1000;
  font-size: 35px;
  color: black;
  touch-action: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX( -50% );
  width: fit-content !important;
  /* Previnir highlight de texto na imagem */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@-moz-document url-prefix() {
  .vetor-previa{
    width: -moz-fit-content !important;
  }
}
